<div class="row justify-content-center">
    <div class="col-12 col-lg-6">

        <div class="card">
            <div class="card-header">
                {{'login' | translate}}
            </div>


            <div class="card-block container">
                <arp-dynamic-form (onSubmit)="login($event)" [controls]="controls" [btnText]="'Login'"></arp-dynamic-form>
            </div>

        </div>

        <p class="text-center font-weight-bold">
            OR
        </p>

        <div class="text-center">
            <arp-social-login></arp-social-login>
        </div>

    </div>

</div>