<div class="row">
    <div class="footer-nav">
        <div class="footer-nav-item">
            {{about_arp|translate}}
        </div>
        <div class="footer-nav-item">
            {{contact_us|translate}}
        </div>
        <div class="footer-nav-item">
            {{disclaimer|translate}}
        </div>
        <div class="footer-nav-item">
            {{cookie_policy|translate}}
        </div>
        <div class="footer-nav-item">
            {{privacy_policy|translate}}
        </div>
    </div>

    <div class="footer-social">
        <div class="row mx-auto">
            <div class="socialmediaicons socialmediaicons-size">
                <a href="javascript:void(0)" title="go to facebook page" class="fa fa-facebook"></a>
                <a href="javascript:void(0)" title="go to twitter page" class="fa fa-twitter"></a>
                <a href="javascript:void(0)" title="go to google+ page" class="fa fa-google"></a>
                <a href="javascript:void(0)" title="go to linkedin page" class="fa fa-linkedin"></a>
            </div>

        </div>

    </div>
</div>
<div class="row">
    <div class="footer-nav">
        <div class="col-1-1 mx-auto">
            <p class="text-muted copyright-font">
                Copyright &copy; 2017-2018 {{'app_title_desktop' | translate}}
            </p>
        </div>

    </div>

</div>