<div class="row">
    <div class="col-1 d-none  d-md-block">

    </div>
    <div class="col-md-7 refer-box">
        <div class="row">
            <div class="col-6 col-md-2">
                AboutARP
            </div>
            <div class="col-6 col-md-2">
                ContactUS
            </div>
            <div class="col-6 col-md-2">
                Disclaimer
            </div>
            <div class="col-6 col-md-2">
                Cookie Policy
            </div>
            <div class="col-6 col-md-2">
                Privacy Policy
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <div class="d-none d-md-block col-md-6">
            </div>
            <div class="col-12 col-md-6">
                <div class="socialmediaicons socialmediaicons-size">
                    <a href="javascript:void(0)" class="fa fa-facebook"></a>
                    <a href="javascript:void(0)" class="fa fa-twitter"></a>
                    <a href="javascript:void(0)" class="fa fa-google"></a>
                    <a href="javascript:void(0)" class="fa fa-linkedin"></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-1 d-none  d-md-block">

    </div>
    <div class="col-md-11 refer-box">
        <!-- <button mat-icon-button>
            <mat-icon>ore_vert</mat-icon>
        </button> -->
        <p class="text-muted copyright-font">
            Copyright &copy; 2015-2016 {{'app_title_desktop' | translate}}
        </p>
    </div>

</div>